<app-menu></app-menu>

<div class="mainContactContainer">
  <h2>Contact</h2>

  <div class="onePerson">
    <h3>Sir Mathias</h3>
    <a href="https://github.com/mathiasSuchail">
      <img src="../../../assets/avatar5.png" alt="avatar Mathias" />
    </a>
    <p>
      Mathias est une personne qui se démarque de façon exceptionnelle de ses
      contemporains par un talent hors du commun, celui de la bonne humeur.
      Légérement foufou comme un jeune caniche en pleine croissance, il sait
      quand même se mettre à la tâche pour travailler de la meilleure façon qui
      soit.
    </p>
  </div>
  <div class="onePerson">
    <h3>Sir Mouhammad</h3>
    <a href="https://github.com/Coder269">
      <img src="../../../assets/avatar4.png" alt="avatar Mouhammad" />
    </a>
    <p>
      Mouhammad se démarque par son habileté intellectuelle remarquable, voire
      une aptitude créatrice extraordinaire. Il fait clairement parti d'une
      personne supérieure à la moyenne haute. Impéccable de volontarisme,
      celui-ci sera votre meilleur alié dans vos projets.
    </p>
  </div>
  <div class="onePersonLast">
    <h3>Sir Benjamin</h3>
    <a href="https://github.com/Benjamin-Dervieux">
      <img src="../../../assets/avatar1.png" alt="avatar Benjamin" />
    </a>
    <p>
      Ne vous faites pas avoir par son air simplet et désinvolte car ce jeune
      trublion en a sous le pied. Véritable passionné, il voue un culte viral à
      sa divinité sûpreme: Marco ! Grâce à cela, il pourra performer sur
      n'importe quel projet avec passion.
    </p>
  </div>
</div>

<app-mini-menu class="miniMenu"></app-mini-menu>
