<div class="modalContainer" *ngIf="isVisible">
  <div class="modalContent">
    <ng-container *ngIf="equipment === 'SawMill'" class="woodContainer">
      <img src="../../../assets/scirie.png" alt="scirie icon" class="equipmentIcon" />
      <img src="../../../assets/close.png" alt="cross to close modal" class="close" (click)="closeModal()" />
      <p>level {{this.resource.sawMill}} (prod:
        {{this.ressourceService.exportTools().sawMill.returnProductivity(this.resource.sawMill)}})
      </p>
      <img src="../../../assets/bullet.png" alt="bullet" class="bullet" />
      <p> level: {{this.resource.sawMill+1}}(prod:
        {{this.ressourceService.exportTools().sawMill.returnProductivity(this.resource.sawMill+1)}})</p>
      <button type="submit"
        [ngClass]="{disabled: ressourceService.exportTools().sawMill.returnLvlUpCost(resource.sawMill) > resource.wood}"
        (click)="this.ressourceService.exportTools().sawMill.lvlUp(resource, ressourceService, router)" class="btn">
        {{ this.ressourceService.exportTools().sawMill.returnLvlUpCost(this.resource.sawMill) }}<img
          src="../../../assets/wood.png" class="icon" />
      </button>
    </ng-container>

    <ng-container *ngIf="equipment === 'Forge'">
      <img src="../../../assets/forge.png" alt="forge icon" class="equipmentIcon" />
      <img src="../../../assets/close.png" alt="cross to close modal" class="close" (click)="closeModal()" />
      <p>level {{this.resource.forge}} (prod:
        {{this.ressourceService.exportTools().forge.returnProductivity(this.resource.forge)}})
      </p>
      <img src="../../../assets/bullet.png" alt="bullet" class="bullet" />
      <p> level: {{this.resource.forge+1}}(prod:
        {{this.ressourceService.exportTools().forge.returnProductivity(this.resource.forge+1)}})</p>
      <button type="submit"
        [ngClass]="{disabled: ressourceService.exportTools().forge.returnLvlUpCost(resource.forge) > resource.iron}"
        (click)="this.ressourceService.exportTools().forge.lvlUp(resource, ressourceService, router)" class="btn">
        {{ this.ressourceService.exportTools().forge.returnLvlUpCost(this.resource.forge) }}<img
          src="../../../assets/pig-iron.png" class="icon" />
      </button>
    </ng-container>

    <ng-container *ngIf="equipment === 'Mine'">
      <img src="../../../assets/mine.png" alt="mine icon" class="equipmentIcon" />
      <img src="../../../assets/close.png" alt="cross to close modal" class="close" (click)="closeModal()" />
      <p>level {{this.resource.mine}} (prod:
        {{this.ressourceService.exportTools().mine.returnProductivity(this.resource.mine)}})
      </p>
      <img src="../../../assets/bullet.png" alt="bullet" class="bullet" />
      <p> level: {{this.resource.mine+1}}(prod:
        {{this.ressourceService.exportTools().mine.returnProductivity(this.resource.mine+1)}})</p>
      <button type="submit"
        [ngClass]="{disabled: ressourceService.exportTools().mine.returnLvlUpCost(resource.mine) > resource.gold}"
        (click)="this.ressourceService.exportTools().mine.lvlUp(resource, ressourceService, router)" class="btn">
        {{ this.ressourceService.exportTools().mine.returnLvlUpCost(this.resource.mine) }}<img
          src="../../../assets/gold-ingots.png" class="icon" />
      </button>
    </ng-container>
  </div>
</div>