<div class="modalContainer" *ngIf="isVisible">
  <div class="modalContent">
    <ng-container *ngIf="type === 'Wood'" class="woodContainer">
      <img src="../../../assets/wood.png" alt="wood icon" class="resourceIcon" />
      <img src="../../../assets/close.png" alt="cross to close modal" class="close" (click)="closeModal()" />
      <p>How many wood do you want to sell ? <br />Max : {{ resource.wood }}
        <br>{{this.moneyService.getRessourcesPrices()[0]}} $ per wood
      </p>

      <input type="text" placeholder="1000" [(ngModel)]="qtyToSell[0]" (ngModelChange)="updatePrices()" />
      <div class="priceToSell">
        <p>{{ prices[0] }}</p>
        <img src="../../../assets/money-bag.png" alt="money bag" class="moneyBag" />
      </div>
      <button type="submit" (click)="closeModal()" class="btn">Sell</button>
    </ng-container>

    <ng-container *ngIf="type === 'Iron'">
      <img src="../../../assets/pig-iron.png" alt="iron icon" class="resourceIcon" />
      <img src="../../../assets/close.png" alt="cross to close modal" class="close" (click)="closeModal()" />

      <p>
        How many iron do you want to sell ?<br />
        Max : {{ resource.iron }}<br>{{this.moneyService.getRessourcesPrices()[1]}} $ per iron
      </p>
      <input type="text" placeholder="1000" [(ngModel)]="qtyToSell[1]" (ngModelChange)="updatePrices()" />
      <div class="priceToSell">
        <p>{{ prices[1] }}</p>
        <img src="../../../assets/money-bag.png" alt="money bag" class="moneyBag" />
      </div>
      <button type="submit" (click)="closeModal()" class="btn">Sell</button>
    </ng-container>

    <ng-container *ngIf="type === 'Gold'">
      <img src="../../../assets/gold-ingots.png" alt="gold icon" class="resourceIcon" />
      <img src="../../../assets/close.png" alt="cross to close modal" class="close" (click)="closeModal()" />

      <p>How many gold do you want to sell ? <br />Max : {{ resource.gold }}
        <br>{{this.moneyService.getRessourcesPrices()[0]}} $ per wood
      </p>
      <input type="text" placeholder="1000" [(ngModel)]="qtyToSell[2]" (ngModelChange)="updatePrices()" />
      <div class="priceToSell">
        <p>{{ prices[2] }}</p>
        <img src="../../../assets/money-bag.png" alt="money bag" class="moneyBag" />
      </div>
      <button type="submit" (click)="closeModal()" class="btn">Sell</button>
    </ng-container>
  </div>
</div>