<app-header></app-header>

<div class="allComponent">
  <h2>New Account</h2>
  <form>
    <fieldset>
      <label for="userName">Your name : </label>
      <input name="userName" type="text" />
    </fieldset>
    <fieldset>
      <label for="userMail">Your email : </label>
      <input name="userMail" type="email" />
    </fieldset>
    <fieldset>
      <label for="password">Password : </label>
      <input type="password" name="password" />
    </fieldset>
    <fieldset>
      <label for="cpassword">Confirm password : </label>
      <input type="password" name="cpassword" />
    </fieldset>
    <input type="submit" value="Create Account" class="btn" />
  </form>
</div>
