<div class="allComponent">
  <h2>New Account</h2>
  <form
    (ngSubmit)="registerForm.valid && onSubmit($event)"
    [formGroup]="registerForm"
    #myForm="ngForm"
  >
    <fieldset>
      <label for="userName">Your name : </label>
      <input name="userName" type="text" formControlName="username" />
      <div
        *ngIf="registerForm.get('username')?.errors?.['required'] && myForm.submitted"
      >
        User name required
      </div>
    </fieldset>
    <fieldset>
      <label for="userMail">Your email : </label>
      <input name="userMail" type="email" formControlName="email" />
      <div
        *ngIf="registerForm.get('email')?.errors && myForm.submitted"
        class="error"
      >
        <div *ngIf="registerForm.get('email')?.errors?.['required']">
          E-mail required
        </div>
      </div>
    </fieldset>
    <fieldset>
      <label for="password">Password : </label>
      <input type="password" name="password" formControlName="password" />
      <div
        *ngIf="registerForm.get('password')?.errors?.['required'] && myForm.submitted"
      >
        Password required
      </div>
    </fieldset>
    <fieldset>
      <label for="cpassword">Confirm password : </label>
      <input type="password" name="cpassword" formControlName="cpassword" />
      <div
        *ngIf="registerForm.get('cpassword')?.errors?.['required'] && myForm.submitted"
      >
        Confirm password required
      </div>
    </fieldset>
    <button type="submit" class="btn">Create Account</button>
  </form>
</div>
