nav {
  float: right;
  padding: 15px;
}

.icon {
  width: 2rem;
  cursor: pointer;
}

ul {
  list-style: none;
}

li {
  display: inline-block;
  font-size: 1em;
}

li:hover {
  text-decoration: underline;
}

#icon-menu {
  visibility: visible;
  width: 32px;
  height: 32px;
  position: absolute;
  top: 20px;
  right: 15px;
}

/* Styles pour la version mobile (max-width: 650px) */
@media only screen and (max-width: 650px) {
  #icon-menu {
    visibility: visible;
  }

  nav ul {
    display: none;
    position: absolute;
    padding: 20px;
    background: #29353f;
    right: 10px;
    top: 35px;
    width: 100%;
    height: 100%;
  }

  nav:hover ul {
    display: block;
  }

  nav li {
    text-align: center;
    width: 100%;
    padding: 15px 0;
    margin: 0;
  }
}
