<app-menu [currentUser]="user"></app-menu>

<div class="mainAttackComponent">
  <h2>{{ colony.colonyName }}</h2>
  <img [src]="colony.colonyPicture" alt="" class="colonyPicture" />

  <div class="redirect">
    <a [routerLink]="['/map']">
      <img class="redirectImg" src="../../../assets/arrow.png" alt="back arrow" />
    </a>
  </div>

  <div class="horizontalLine"></div>

  <div class="costCowboy">
    <img src="../../../assets/cowboy (3).png" alt="cowboy masked" class="costCowboyImgCowboy" />
    <img src="../../../assets/equal.png" alt="equal sign" class="costCowboyImgEqual" />
    <p class="cowboyCostPrice">100</p>
    <img src="../../../assets/money-bag.png" alt="money bag" class="costCowboyImgBag" />
  </div>

  <p>How many cowboys do you want to send to fight ?</p>

  <div class="numberCowboy">
    <input type="number" id="numberCowboyInput" [(ngModel)]="numberOfCowboy" />

  </div>

  <div class="attackCost">
    <p>Attack cost :</p>
    <p>{{ numberOfCowboy * costOfCowboy }}</p>
    <img src="../../../assets/money-bag.png" alt="money bag" class="bag" />
  </div>

  <input type="button"
    [ngClass]="{disabled: (user.money!=undefined && numberOfCowboy*costOfCowboy>user.money)?true:false}"
    value="Let's Attack" type="button" class="btn btnAttack" (click)="attack()">

</div>

<app-result-modal [colony]="colony"></app-result-modal>
<app-mini-menu class="miniMenu"></app-mini-menu>