.mainAttackComponent {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3rem;
}
.colonyPicture {
  width: 80%;
  box-shadow: 0px 8px 8px 0px rgba(0, 0, 0, 0.25);
}

.redirect {
  display: flex;
  flex-direction: row;
}

a {
  text-decoration: none;
  color: antiquewhite;
}

.redirectImg {
  width: 3rem;
  transform: rotate(180deg);
}

.horizontalLine {
  border-top: 3px solid #a71d23;
  width: 85%;
  margin-top: 2rem;
  box-shadow: 0px 8px 8px 0px rgba(0, 0, 0, 0.25);
}

.costCowboy {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

.costCowboyImgCowboy {
  width: 3rem;
  height: 3rem;
  margin-right: 1rem;
}
.costCowboyImgEqual {
  width: 1rem;
  height: 1rem;
}

.costCowboyImgBag {
  width: 2rem;
  height: 2rem;
}

.cowboyCostPrice {
  font-size: 1.3em;
  margin-left: 1rem;
}

p {
  text-align: center;
}

.numberCowboy {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

input {
  width: 4rem;
  border: none;
}

.btn {
  width: 6rem;
  box-shadow: 0px 8px 8px 0px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

.bag {
  width: 2rem;
  height: 2rem;
}

.attackCost {
  width: 70%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 1.5rem;
}

.btnAttack {
  width: 150px;
  height: 2rem;
  box-shadow: 0px 8px 8px 0px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  border: none;
  background-color: #a71d24;
  color: white;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

@media screen and (min-width: 600px) {
  h2 {
    font-size: 1.7em;
  }

  .colonyPicture {
    width: 25rem;
  }

  .costCowboy {
    width: 15%;
  }
  .numberCowboy {
    width: 30%;
  }
  .attackCost {
    width: 20%;
  }
}
