<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Contact</title>
  </head>
  <body>
    <h1 class="Contact">Contact</h1>
    <div id="flexbox">
      <div class="team member">
        <h2 class="Lady Katia">Lady Katia</h2>
        <img class="Avatar41" src="../../assets/avatar2.png" />
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec varius
          lacus ante, vitae lacinia quam ultricies vitae. Pellentesque habitant
          morbi tristique senectus.
        </p>
      </div>
      <div class="team member">
        <h2 class="Lady Britanie">Lady Britanie</h2>
        <img class="Avatar41" src="../../assets/avatar3.png" />
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec varius
          lacus ante, vitae lacinia quam ultricies vitae. Pellentesque habitant
          morbi tristique senectus.
        </p>
      </div>
      <div class="team member">
        <h2 class="Sir Mathias">Sir Mathias</h2>
        <img class="Avatar41" src="../../assets/avatar1.png" />
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec varius
          lacus ante, vitae lacinia quam ultricies vitae. Pellentesque habitant
          morbi tristique senectus.
        </p>
      </div>
      <div class="team member">
        <h2 class="Sir Mouhammad">Sir Mouhammad</h2>
        <img class="Avatar41" src="../../assets/avatar4.png" />
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec varius
          lacus ante, vitae lacinia quam ultricies vitae. Pellentesque habitant
          morbi tristique senectus.
        </p>
      </div>
      <div class="team member">
        <h2 class="Sir Benjamin">Sir Benjamin</h2>
        <img class="Avatar41" src="../../assets/avatar5.png" />
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec varius
          lacus ante, vitae lacinia quam ultricies vitae. Pellentesque habitant
          morbi tristique senectus.
        </p>
      </div>
    </div>
  </body>
</html>

<router-outlet></router-outlet>
