<div class="allComponent">
    <img src="../../assets/login_picture.png" alt="">
    <form>
        <fieldset>
            <label for="userName">Your name : </label>
            <input id="userName" type="text">
        </fieldset>
        <fieldset>
            <label for="password">Password : </label>
            <input type="password" id="password">
        </fieldset>
        <input type="submit" value="Sign In" class="btn">
    </form>
    <ul>
        <li><a [routerLink]="['/register']">Create account</a>
        </li>
        <li><a routerLink="/lostPassword">Lost your password</a></li>
    </ul>


</div>