.allComponent {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

fieldset {
  border: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  margin: 20px 0;
  gap: 5px;
}

input {
  box-shadow: 0px 6px 6px 0px rgba(0, 0, 0, 0.25);
}

.btn {
  padding: 10px 20px;
  box-shadow: 0px 6px 6px 0px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
}

ul {
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

img {
  height: 35%;
  margin-top: 20px;
}

a {
  color: white;
  box-shadow: 0px 6px 6px 0px rgba(0, 0, 0, 0.25);
}
