.allComponent {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3rem;
}

.avatar {
  width: 60%;
}

ul {
  list-style-type: none;
  padding: 0;
}

a {
  color: white;
}

.miniMenu {
  position: relative;
  width: 100%;
  bottom: 0;
  margin-bottom: 1rem;
}
