<app-menu></app-menu>
<div class="allComponent">
  <h2>My colonies</h2>
  <img [src]="avatar" alt="" class="avatar" />
  <h3 *ngIf="this.colonyList.length > 0">Your colonies :</h3>
  <div *ngIf="this.colonyList.length === 0">
    <br />
    <hr />
    <h3>You don't have any colony!</h3>
    <hr />
  </div>
  <ul>
    <li *ngFor="let colony of this.colonyList" class="colonies">
      <a href="" [routerLink]="['/colonie/' + colony.id]">{{
        colony.colonyName
      }}</a>
      <div class="warning"></div>
    </li>
  </ul>
</div>

<app-mini-menu class="miniMenu"></app-mini-menu>
