/* You can add global styles to this file, and also import other style files */
body {
    margin: 0;
    background-color: #29353F;
    color: white;
}

.btn {
    background-color: #a71d24;
    color: white;
    border: none;
}

.btn:hover {
    background-color: #ff3c45;
    cursor: pointer;
}