<div class="allComponent">
  <img
    *ngIf="!isMenuVisible"
    src="../../../assets/menu-bar.png"
    alt="Menu"
    class="menuIcon"
    (click)="toggleMenu()"
  />
  <img
    *ngIf="isMenuVisible"
    src="../../../assets/close.png"
    alt="Close"
    class="closeIcon"
    (click)="toggleMenu()"
  />
  <div *ngIf="isMenuVisible" class="menuContent">
    <h2>My assets</h2>
    <img [src]="getAvatar()" alt="" class="avatar" />
    <div class="stat">
      <h3>Level {{ getLevel() }}</h3>
      <h3>
        <div>
          {{ getMoney() }}
          <img class="icon" src="../../assets/money-bag.png" alt="" />
        </div>
      </h3>
    </div>
    <input type="submit" value="Log Out" class="btn" (click)="logOut()" />
    <hr />
    <div class="menu">
      <a class="menuItem" [routerLink]="['/ranking']"
        ><img src="../../assets/arrow.png" alt="" />
        <p>Ranking</p>
      </a>
      <a class="menuItem" [routerLink]="['/contact']"
        ><img src="../../assets/arrow.png" alt="" />
        <p>Contact</p>
      </a>
    </div>
  </div>
</div>
